<!DOCTYPE html>
<html lang="en">
<head>
  <title>Classification</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
  <h2>The text files were identified as follows</h2>
  
  {%for type2 in category_list%}
  <p class="bg-primary">{{type2}}</p>
  {%for type in bootvar%}
  {%if type[0]==type2%}
  <p class="bg-info">{{type[1]}}</p>
  {%endif%}
   {%endfor%}
  {%endfor%}
  
</body>
</html>
